<ion-header>
  <ion-toolbar>
    <ion-title>photo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="{{ imgUrl }}" height="300" width="300" alt="">
  <ion-button (click)="getCamera()">
    <ion-icon name="camera"></ion-icon>
    <ion-label>Photo</ion-label>
  </ion-button>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-item>
          <ion-label>
            Map
          </ion-label>
          <ion-icon name="search"></ion-icon>
        </ion-item>
      </ion-tab-button>
      <ion-tab-button tab="photo">
        <ion-item>
          <ion-label>
            Camera
          </ion-label>
          <ion-icon name="card"></ion-icon>
        </ion-item>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
