<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div #map id="map"></div>

  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-item>
          <ion-label>
            Map
          </ion-label>
          <ion-icon name="search"></ion-icon>
        </ion-item>
      </ion-tab-button>
      <ion-tab-button tab="photo">
        <ion-item>
          <ion-label>
            Camera
          </ion-label>
          <ion-icon name="card"></ion-icon>
        </ion-item>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
</ion-content>
